<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">Corban is a tech enthusiast and programmer. He loves to create and make things that tick. Memes, the Office, and Chick-Fil-A as just some of his many past times.</p>
    <a href="<%= about_path %>">More About Corban</a>
  </div>

  <%= render 'archives' %>

  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://www.github.com/corbanha"><%= fa_icon "github" %></li></a>
      <li><a href="https://twitter.com/corbanha"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.linkedin.com/in/corban-anderson-a3546366"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</aside>
