<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Corban is a tech enthusiast and programmer. He loves to create and make things that tick. Memes, the Office, and Chick-Fil-A as just some of his many past times.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><%= link_to 'Grand Central', root_path, class: 'text-white' %></li>
            <li><%= link_to 'About', about_path, class: 'text-white' %></li>
            <li><%= link_to 'Blogs', blogs_path, class: 'text-white' %></li>
            <li><%= link_to 'Contact', contact_path, class: 'text-white' %></li>
            <li><%= login_helper(registerClass='text-white', loginClass='text-white', currentUserClass='text-white', logoutClass='text-white') %></li>
            <li><%= link_to('New Portfolio', new_portfolio_path, class: 'text-white') if logged_in?(:site_admin) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="<%= portfolios_path %>" class="navbar-brand d-flex align-items-center">
        <strong>Corban Anderson</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>