<h1>Portfolios</h1>

<%= link_to 'Create a new Portfolio!', new_portfolio_path %>


<% @portfolios.each do |portfolio| %>
  <h2><%= link_to portfolio.title, portfolio %></h2>
  <h3><%= portfolio.subtitle %></h3>
  <%= image_tag portfolio.thumbnail %>
  <%= link_to 'Edit', edit_portfolio_path(portfolio) %>
<% end %>
