<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset='UTF-8'>
    <meta name='description' content='Corban Anderson Projects and Resume Website'>
    <meta name='keywords' content='<%= @seo_keywords %>'>
    <meta name='author' content='Corban Harward Anderson'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='cover-container d-flex w-100 h-100 mx-auto flex-column'>
      <%= render 'shared/application_nav', active: 'home' %>
      <!-- <p class='notice'><%= notice %></p>
      <p class='alert'><%= alert %></p> -->
      <%#= login_helper %>
      <%= %>
      <main role='main' class='inner'>
        <!-- <div class='background background_element'></div> -->

        <%#= video_tag(
          'Iona32.mp4',
          class: 'background-element',
          autoplay: true,
          loop: true,
          muted: true,
          poster: 'background.jpg'
          )
        %>

        <%= yield %>
      </main>
      <%= render 'shared/application_footer' %>
    </div>

    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
  </body>
</html>
