<!DOCTYPE html>
<html>
  <head>
    <title>DevcampTutorial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>

    <% if current_user %>
      <p>Hello, <%= current_user&.name %>!</p>
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      <%= link_to 'Edit Account', edit_user_registration_path %>
    <% else %>
      <%= link_to 'Create a Free Account!', new_user_registration_path %>
      <%= link_to 'Log in', new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
