<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset='UTF-8'>
    <meta name='description' content='Corban Anderson Projects and Resume Website'>
    <meta name='keywords' content='<%= @seo_keywords %>'>
    <meta name='author' content='Corban Harward Anderson'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'portfolio_nav' %>

    <main role="main">
      <%= yield %>
    </main>

    <%= render 'shared/application_footer' %>
  </body>
</html>
