<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset='UTF-8'>
    <meta name='description' content='Corban Anderson Projects and Resume Website'>
    <meta name='keywords' content='<%= @seo_keywords %>'>
    <meta name='author' content='Corban Harward Anderson'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Small Business Dudes', root_path %>

    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>

    <h3>Hello, <%= current_user&.first_name %>!</h3>
    <%= login_helper %>

    <%= yield %>

    <%= render 'shared/nav', location: 'bottom' %>
    <%= welcome_from_source('application') %>
  </body>
</html>
